*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

h1,
h2,
h3,
P {
  margin: 0;
}

.container {
  width: 50%;
  max-width: 65cm;
  margin: 0 auto;
}

#trans {
  position: relative;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.85em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 500;
}

.split {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  min-width: 15em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: large;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, rgb(136, 246, 246));
  color: var(--clr-text, rgb(30, 28, 28));
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.response {
  display: none;
}

.primary-title {
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  font-size: 3rem;
  line-height: 0.95;
  text-transform: uppercase;
}

.section-title {
  padding: 1em 0;
  text-align: center;
  font-size: 2rem;
  font-style: oblique;
  line-height: 1;
  color: #403380;
  margin-bottom: 4rem;
}

.hero {
  text-align: center;
  color: black;
  padding: 11em 0;
  background-color: #444;

  background-image: url(https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHNuZWFrZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60),
    radial-gradient(#444, #111);
  background-size: 30%;
  background-blend-mode: normal;
  background-attachment: fixed;
  background-repeat: repeat;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.featured {
  background: #f4f4f4;
}

.featured_item {
  display: block;
  position: relative;
  transform: scale(0.85);
  transition: transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 2;
}

.price {
  display: block;
  font-weight: 700;
  font-size: 4rem;
}

.featured_item:hover,
.featured_item:focus {
  transform: scale(1);
}

.featured_item:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 10%;
  padding: 85% 85% 0 0;
  border-radius: 100%;
  background: #2193b0;
  z-index: -1;
}

.featured_details {
  opacity: 0;
  transition: opacity 250ms linear;
}

.featured_details:hover,
.featured_details:focus {
  transform: scale(1);
  opacity: 1;
}

.product {
  background: radial-gradient(
    var(--clr-inner, red),
    var(--clr-outer, rgb(224, 224, 69))
  );
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 2em;
  text-align: center;
  flex-shrink: 0;
}

.product_title {
  font-size: 3rem;
}

.price-our-products {
  font-size: 2rem;
  font-weight: bold;
}

.shoe-white {
  --clr-inner: rgb(79, 232, 150);
  --clr-outer: rgb(60, 151, 237);
  --clr-accent: rgb(251, 39, 39);
}

.shoe-star {
  --clr-inner: rgb(247, 129, 166);
  --clr--outer: rgba(135, 245, 102, 0.534);
  --clr-accent: rgb(255, 0, 43);
}

.product_image {
  align-items: center;
}

.contact {
  font-size: large;
  margin: 1em;
}

h5,
h6 {
  font-style: normal;
  display: flex;
}

.content-section {
  margin: auto;
}

.cart-header {
  align-items: center;
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 1em;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 35%;
}

.cart-price {
  width: 20%;
  align-items: center;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
  cursor: pointer;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.background {
  background-color: #444;
  color: white;
}

@media screen and (max-width: 596px) {
  * {
    font-size: 10px;
  }

  .primary-title,
  .section-title,
  .primary-title {
    font-size: 1.5rem !important;
    margin-bottom: 1.5rem;
    letter-spacing: 1rem;
  }
  .btn {
    font-size: 0.7rem;
  }
  .featured_img {
    max-width: 100%;
    height: auto;
  }
  .product_image {
    max-width: 100%;
    height: auto;
  }
  .cart-quantity-input {
    max-width: 60%;
    height: 50%;
  }
  .btn-danger {
    font-size: 0.6rem;
  }
  .cart-item-title .cart-price {
    width: 100%;
  }
}
